
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    /* background-color: #f7fafc;  轻灰色背景 */
    min-height: 100vh;
    scroll-behavior: smooth;
}
.attributes {
    width: 100%;
    max-width: 600px;
    background-color: #edf2f7;  /* 轻灰色背景 */
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);  /* 为容器添加轻微的阴影 */
}

.eventContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #e2e8f0;  /* 灰色边框 */
    opacity: 0;
    animation: fadeIn 1s forwards;
}

.eventContainer:last-child {
    border-bottom: none;  /* 移除最后一个事件的下边框 */
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.loadingMessage {
    text-align: center;
    font-size: 16px;
    color: gray;
    padding: 20px;
}

.choiceButton {
    padding: 10px 15px;
    background-color: #f7f7f7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.choiceButton:hover {
    background-color: #e0e0e0;
}

.markdown {
    margin-bottom: 20px;
    font-size: 18px;
}
